---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular"
;

// .video {
//   padding: 1rem;
//   margin: 1rem 0;
//   border-radius: 4px;
//   background-color: var(--global-code-bg-color);
  
//   iframe {
//     display: block;
//     margin: 0 auto;
//     max-width: 100%;
//     aspect-ratio: 16/9;
//     height: auto;
//   }
// }
